
$primaryColor:black;
$secondaryColor: rgb(0, 110, 255);

@mixin grid-rows{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    gap: 10rem;
    
}
@mixin grid-columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

@mixin heightXWidth{
    height: 100%;
    width:auto;  
} 

header{
    height:3vh;
    width: fit-content;
    @include grid-columns;
    font-size: 1rem;   
    #searchBar{
        width: 30vw;   
}
}

html{
   @include heightXWidth;
   body {
    @include heightXWidth;
    @include grid-rows;
       padding: 0;
       margin: 0;      
    }


main{
display: grid;
place-items: center;
text-align: center;
gap: 2rem;
    #map{
        height: 40vh;
        width:80vw;
        box-shadow: 5px 15px 20px $primaryColor;
        
    }
     
    

    } 

    nav{  height:10vh;
        width: auto;
        background-color: $primaryColor;

        ul{        @include grid-columns;
                
                .fas{
                    color:$secondaryColor;
                }
            }
        }
    }